@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
p,
h1,
h2{
  color: #322515;
}

.background{
  background: linear-gradient(to right, #f5ba6e, #f9cf95);
}
.bg-slide{
  background: linear-gradient(to right, #322b23, #342b22);
}
.footer-bg{
  background: linear-gradient(to right, #322b23, #322c22);
}
.rotate{
  transform: rotate(-22deg);
}

.hoverBtn{
  transition: all 0.4s ease 0s !important;
  cursor: pointer;
}
.hoverBtn :hover{
  transform: scaleX(-1);
  overflow: hidden !important;
}

.flip_image{
  transform: scale(-1);
}

.button-hover{
  transition: all 0.4s ease 0s !important;
  cursor: pointer;
  border: none;
}
.button-hover:hover{
  background-color: transparent;
  border: 1px solid black;
  color: black;
}
@media screen and (max-width: 880px) {
  .abs-none{
    display: none;
  }
}